.cart-component-container {
  background-color: aliceblue;
  min-height: 90vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.cart-empty-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.empty-card-heading {
  color: gray;
  font-family: "Bree Serif";
  font-weight: 300;
}
.cart-price-details-container {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.cart-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  width: 73vw;
  margin: 0;
}
.mycart-heading {
  font-family: "Bree Serif";
  font-size: 35px;
  margin-top: 0;
  font-weight: 300;
}
.order-now-container {
  width: 300px;
  height: 330px;
  background-color: white;
  margin-left: 20px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: -5px -5px 10px rgb(226, 220, 220);
}
.price-details-heading {
  margin-top: 0;
  font-family: "Bree Serif";
  font-weight: 300;
  font-size: 20px;
}
.order-now-actual-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-now-price-heading {
  color: rgb(105, 78, 121);
  font-family: "Bree Serif";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.order-now-price {
  margin-top: 0;
  columns: black;
  font-family: "Bree Serif";
  font-weight: 300;
  margin-bottom: 0;
}
.items {
  margin: 0;
  color: gray;
  font-size: 12px;
  font-family: "Bree Serif";
}
.order-now-delivery-heading {
  color: rgb(105, 78, 121);
  font-family: "Bree Serif";
  margin-top: 0;
  font-size: 14px;
}
.order-now-discount {
  color: rgb(33, 172, 75);
  font-family: "Bree Serif";
  font-weight: 300;
}
.order-now-free-delivery {
  margin-top: 0;
  color: rgb(33, 172, 75);
  font-family: "Bree Serif";
  font-weight: 300;
}
.total-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(196, 189, 189);
  border-bottom: 1px solid rgb(196, 189, 189);
  padding-top: 7px;
  padding-bottom: 7px;
}
.total-price {
  color: black;
  font-family: "Bree Serif";
  font-weight: 300;
  margin: 0;
}
.discount-tag {
  font-family: "Bree Serif";
  font-size: 13px;
  font-weight: 300;
  color: rgb(33, 172, 75);
}
.order-now-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-now-btn {
  background-color: #7d36b7;
  color: white;
  border: none;
  width: 100px;
  height: 33px;
  box-shadow: 5px 5px 10px rgb(192, 190, 190);
  margin-top: 6px;
}
