.product-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background-color: aliceblue;
  min-height: 90vh;
}
.product-loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.product-card {
  width: 70%;
  height: 70vh;
  /* box-shadow: 5px 5px 15px -10px rgb(97, 92, 92),
    -5px -5px 15px -10px rgb(97, 92, 92); */
  padding: 20px;
  display: flex;
  background-color: white;
}
.product-images-container {
  width: fit-content;
  margin-right: 50px;
}
.product-image {
  width: 300px;
  height: 300px;
  /* border-radius: 10px; */
}
.image-carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.image-carousel {
  width: 65px;
  height: 65px;
  /* border-radius: 5px; */
  opacity: 0.5;
}
.product-details-container {
  width: 50%;
}
.store-tag {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.store-icon {
  color: blueviolet;
  margin-right: 6px;
  margin-top: 4px;
  font-size: 14px;
}
.store-text {
  color: blueviolet;
  font-family: "Bree Serif";
  font-size: 13px;
  margin: 0;
}
.product-title {
  margin: 0;
  font-family: "Bree Serif";
  font-weight: 300;
  font-size: 25px;
  word-spacing: 5px;
  margin-bottom: 5px;
}
.ratings-container {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
.rating-icon {
  color: rgb(236, 236, 8);
}
.product-rating {
  color: rgb(29, 176, 29);
  font-family: "Bree Serif";
  font-size: 18px;
  margin: 0;
}
.product-reviews {
  color: rgb(29, 176, 29);
  font-family: "Bree Serif";
  font-size: 15px;
  margin: 0;
}
.price-container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  height: 50px;
}
.actual-price {
  text-decoration: line-through;
  font-style: italic;
  font-family: "Bree Serif";
}
.discounted-price {
  font-family: "Bree Serif";
  color: rgb(233, 97, 97);
}
.price-span {
  font-size: 22px;
}
.discount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 80px;
  border-radius: 6px;
  height: 30px;
}
.discount {
  margin-right: 3px;
  font-family: "Bree Serif";
  color: white;
}
.product-description {
  color: black;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 25px;
  max-width: 85%;
}
.view-less-btn {
  color: black;
  font-family: "Bree Serif";
  cursor: pointer;
}
.availability {
  color: brown;
  font-family: "Bree Serif";
  margin-bottom: 0;
  margin-top: 5px;
}
.product-brand {
  color: brown;
  margin-top: 4px;
  font-family: "Bree Serif";
  margin-bottom: 0;
}
.availability-span {
  color: black;
  margin-left: 10px;
}
.brand-span {
  color: black;
  margin-left: 10px;
}
.add-to-cart-btn {
  height: 35px;
  width: 130px;
  display: inline;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    rgb(255, 98, 0),
    rgb(222, 139, 62)
  );
  color: white;
  border: none;
  font-family: "Bree Serif";
  box-shadow: 10px 10px 10px -8px rgb(232, 224, 224),
    -10px -10px 10px -8px rgb(232, 224, 224);
  font-size: 15px;
  cursor: pointer;
}
.buy-now-btn {
  height: 35px;
  width: 110px;
  display: inline;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  /* background-image: linear-gradient(
    to bottom,
    rgb(48, 149, 48),
    rgb(97, 234, 97)
  ); */
  background-color: rgb(61, 190, 89);
  color: white;
  border: none;
  font-family: "Bree Serif";
  margin-left: 20px;
  box-shadow: 10px 10px 10px -8px rgb(232, 224, 224),
    -10px -10px 10px -8px rgb(232, 224, 224);
  font-size: 15px;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  background-image: linear-gradient(to bottom, black, black);
}
.buy-now-btn:hover {
  background-color: green;
}
.details-container {
  flex-grow: 1;
  background-color: white;
  margin-left: 20px;
  height: 70vh;
  padding: 20px;
  max-width: 21.5%;
}
.product-price-heading {
  margin-top: 0;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bree Serif";
  color: #b12704;
  margin-bottom: 0;
}
.premium-container {
  display: flex;
  align-items: center;
}
.premium {
  color: #00a8e1;
  font-family: "Bree Serif";
  margin-top: 3px;
}
.premium-icon {
  color: #00a8e1;
  font-size: 15px;
}
.delivery-by {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
}
.delivery-date {
  color: black;
  font-family: "Bree Serif";
  margin-left: 10px;
  letter-spacing: 0.5px;
}
.delivery-address {
  display: flex;
  align-items: center;
}
.delivery-location-span {
  color: #007185;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.delivery-location-icon {
  margin-right: 5px;
  margin-top: 2px;
  color: #007185;
}
.delivery-availability {
  font-family: "Bree Serif";
  font-weight: 300;
  color: green;
}
.product-style {
  max-width: 250px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.quantity {
  margin-left: 10px;
  border: 1px solid black;
  outline: none;
  height: 25px;
  border-radius: 2px;
}
.quantity-label {
  font-family: "Bree Serif";
}
.wishlist-btn {
  margin-top: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7d36b7;
  color: white;
  height: 30px;
  width: 130px;
}
.heart-icon {
  font-size: 18px;
  color: pink;
}
.product-delivery-list {
  padding-left: 15px;
}
.emi-item {
  margin-bottom: 5px;
  color: black;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;
  list-style-type: circle;
}
.similar-products-container {
  width: 70%;
}
.similar-products-heading {
  font-family: "Bree Serif";
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.similar-product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.add-address-btn-product {
  background-color: #7d36b7;
  color: white;
  border: none;
  width: 100px;
  height: 33px;
  box-shadow: 5px 5px 10px rgb(192, 190, 190);
  cursor: pointer;
  margin-left: 10px;
}
.select-address {
  width: 100px;
  height: 30px;
  margin-left: 15px;
  border: 1px solid rgb(173, 168, 168);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Bree Serif";
  font-size: 15px;
  padding-left: 5px;
}
