@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@100&display=swap');
body{
  margin: 0;
}
.test-bg{
  width: 100%;
  min-height: 200px;
  background-color: blue;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  color: white;
  font-family: 'Bree Serif';
  font-weight: 400;
  margin: 0;
}
.list{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: absolute;
  z-index: 0.5;
  margin-top: 100px;
}

