.cart-item {
  background-color: white;
  width: 95%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(226, 220, 220);
}
.cart-image-details-container {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
}
.cart-image {
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.cart-details-container {
  margin-left: 20px;
}
.cart-item-title {
  font-family: "Bree Serif";
  font-size: 18px;
}
.cart-item-brand {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
}
.cart-buttoms-container {
  display: flex;
  align-items: center;
}
.minus-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(122, 120, 120);
  margin-top: 6px;
  cursor: pointer;
}
.close-btn {
  color: black;
}
.cart-quantity {
  color: black;
  font-family: "Roboto";
  font-family: bold;
  font-size: 18px;
  margin-left: 6px;
  margin-right: 6px;
}
.cart-price {
  color: rgb(46, 28, 151);
  font-family: "Bree Serif";
  font-weight: 300;
  font-size: 18px;
  max-width: 200px;
  text-align: center;
}
.cart-rupees {
  font-size: 15px;
  margin-left: 20px;
}
